@model IEnumerable<MvcApiConciertos.Models.CategoriaEvento>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <a class="btn btn-info" asp-area="" asp-controller="Conciertos" asp-action="EventosPorCategoria" asp-route-id="@item.IDCategoria">Ver Eventos Por Categoria</a>
            </td>
        </tr>
}
    </tbody>
</table>
